* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: rock;
    src: url(../fonts/RocknRollOne-Regular.ttf);
}

/* BASE */

html {
    font-family: rock;
    color: #000000;
    line-height: 1.714;
}

body {
    margin: 0;
    font-size: .875rem;
    background-color: #efe1b5;
}

img {
    width: 100%;
    object-fit: contain;
    object-position: top;
    cursor: pointer;
}

a {
    text-decoration: none;
}

input[type=text] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid grey;
    width: 50%;
    background: #ffd078e8;
}

input[type=color] {
    border: 1px solid grey;
    height: 2rem;
    background: #ffd078e8;
}

select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid grey;
    width: 23%;
    background: #ffd078e8;
}

/* LAYOUT */

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card-container>*:not(:last-child) {
    margin-inline-end: 20px;
}

.card-container>*:last-child {
    margin-inline-end: 20px;
}

/* COMPONENTS */

/* header */

.nav-bar {
    background-color: #ffd078e8;
    height: 100px;
    border-bottom: 1px #2b2b2b solid;
    margin-bottom: 1rem;
}

.logo {
    color: #000;
    font-family: rock, sans-serif;
    font-size: 1.875rem;
    letter-spacing: 0.2em;
}

.logo::after {
    color: #2a64b57a;
    content: '.';
}

.main-nav>*:not(:last-child) {
    margin-inline-end: 1rem;
}

.main-nav a {
    color: inherit;
}

/* search bar */

.search-bar {
    justify-content: center;
}

.search-bar button {
    background: #ffd078e8;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 3px;
    width: 3rem;
}

/* Settings */

.settings-container {
    flex-wrap: wrap;
}

.font-setting-container {
    width: 100%;
    flex-direction: column;
}

.settings-container a, button {
    background: #ffd078e8;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    margin-bottom: 0.5rem;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.settings-container img {
    width: 2rem;
    cursor: pointer;
    margin-inline-start: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.font-setting-container input {
    min-width: 10rem;
    margin-bottom: 0.5rem;
}

.font-setting-container select {
    min-width: 10rem;
}

/* CANVAS */

.canvas-container {
    justify-content: center;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

/* MEME CREATE MODAL */

.btn-close {
    width: 3rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    display: none;
}

/* CARDS */

.card-image {
    margin-bottom: 1rem;
}

/* FOOTER */

.main-footer {
    text-align: center;
}

/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* misc */

button:hover {
    background: #c1d0dd9c;
    transition: 0.3s;
    box-shadow: 0 1rem 1.25rem 0 rgba(3, 28, 85, 0.5), 0 -0.25rem 1.5rem rgb(194, 235, 11) inset, 0 0.75rem 0.5rem rgba(218, 197, 8, 0.829) inset, 0 0.25rem 0.5rem 0 rgb(250, 226, 6) inset;
}

.nav-bar a:hover {
    color: rgb(255, 254, 254);
    background: none;
    box-shadow: none;
}

a:hover {
    background: #c1d0dd9c;
    transition: 0.3s;
    box-shadow: 0 1rem 1.25rem 0 rgba(3, 28, 85, 0.5), 0 -0.25rem 1.5rem rgb(194, 235, 11) inset, 0 0.75rem 0.5rem rgba(218, 197, 8, 0.829) inset, 0 0.25rem 0.5rem 0 rgb(250, 226, 6) inset;
}

img:hover {
    transition: 0.4s;
    box-shadow: 0 1rem 1.25rem 0 rgba(3, 28, 85, 0.5), 0 -0.25rem 1.5rem rgb(194, 235, 11) inset, 0 0.75rem 0.5rem rgba(218, 197, 8, 0.829) inset, 0 0.25rem 0.5rem 0 rgb(250, 226, 6) inset;
}

.canvas-container img:hover {
    box-shadow: 2px 2px;
    transition: 0.4s;
}

/* MEDIA QUERIES */

/* V.SMALL */

@media (min-width: 300px) {
    .container {
        max-width: 600px;
    }
    .logo {
        font-size: 1.2rem;
    }
    .nav-bar {
        justify-content: space-between;
    }
    .main-nav {
        font-size: 0.7rem;
    }
    .search-bar {
        margin-bottom: 1rem;
    }
    .search-bar input[type=text] {
        width: 55%;
    }
    .modal {
        transform: translate(-50%, -50%);
        border: 1px solid black;
        border-radius: 10px;
        width: 100vw;
        height: 100vh;
        background-color: #efe1b5;
        z-index: 10;
    }
    #my-canvas {
        width: 280px;
        margin-bottom: 1rem;
        border: none;
        justify-content: center;
        justify-self: center;
    }
    .canvas-container {
        justify-content: center;
        flex-direction: column;
    }
    .text-input-container input[type=text] {
        font-size: 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }
    .settings-container img {
        width: 1.5rem;
        cursor: pointer;
        margin-inline-start: 1rem;
    }
}

/* SMALL */

@media (min-width: 500px) {
    .container {
        max-width: 800px;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-bar {
        justify-content: space-between;
    }
    .main-nav {
        font-size: 1rem;
    }
    .search-bar input[type=text] {
        width: 40%;
    }
    .canvas-container {
        max-width: 500px;
    }
    #my-canvas {
        width: 400px;
    }
    .text-input-container input[type=text] {
        font-size: 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }
}

/* SMALL-MED */

@media (min-width: 500px) {
    .container {
        max-width: 725px;
    }
    #my-canvas {
        width: 450px;
    }
    .font-setting-container {
        flex-direction: row;
        justify-content: space-around;
    }
    .settings-container {
        justify-content: space-between;
    }
    .font-setting-container input {
        min-width: 7rem;
    }
    .font-setting-container select {
        min-width: 7rem;
    }
}

/* MEDIUM */

@media (min-width: 775px) {
    .container {
        max-width: 1000px;
    }
    #my-canvas {
        width: 400px;
    }
    .canvas-container {
        justify-content: center;
        flex-direction: row;
        max-width: 1000px;
    }
    .logo {
        font-size: 1.875rem;
    }
    .font-setting-container input {
        min-width: 4rem;
        font-size: 0.5rem;
    }
    .font-setting-container select {
        min-width: 7rem;
        font-size: 0.8rem;
    }
}

/* LARGE */

@media (min-width: 1000px) {
    .container {
        max-width: 1920px;
    }
    #my-canvas {
        width: 500px;
    }
    .canvas-container {
        max-width: 1920px;
    }
    .settings-container {
        max-width: 560px;
    }
}